/* imports */


   
   @import url("bootstrap.css");
   @import url("bootstrap-responsive.css");
   
   
   @import url("header.css");
   

/* main body for diferent states */

   @import url("main.css");
   @import url("main4all.css");
   
   @import url("footer.css");

   @import url("popovers.css");
   
   @import url("glyphicons.css");
   
   /* PRINT */
   @import url("print.css");
   
   
   
/************************      
************************      
        For different css styles / layouts.
************************
************************/
   
   
.accordion-inner:hover {
    background-color: #A7FA5A;  
}
.accordion-heading:hover{
    background-color: #A7FA5A;
}
 
   
   
   
   
   