



#footer{
      margin-top:15%;
}

#help_grow_div{
	display:none;
	
}

#richAlert{
	position:fixed;
	font-weight:800;
	font-size:15px;
	padding:1%;
	top:2%;
	right:2%;
	min-width:5%;
	min-height:5%;
	display:none;
	z-index:1100;
}