<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    
	
	<http auto-config="true" use-expressions="true">
		
		<!--  AdminController  -->
		<intercept-url pattern="/adminPanel/**" access="hasRole('666')" />
		<intercept-url pattern="/adminPanel/**/" access="hasRole('666')" />
		<intercept-url pattern="/adminPanel/**/**" access="hasRole('666')" />
		<intercept-url pattern="/adminPanel/**/**/**" access="hasRole('666')" />
		
		<!--  console H2 -->
		<intercept-url pattern="/console/**" access="hasRole('666')" />
		
		
		<!--  MainController-->
		<intercept-url pattern="/login" access="hasRole('ROLE_ANONYMOUS')" />
		<intercept-url pattern="/loginFAIL" access="hasRole('ROLE_ANONYMOUS')" />
		<intercept-url pattern="/logout" access="hasRole('ROLE_ANONYMOUS')" />
		
		<!--  UserRegisterController -->
		<intercept-url pattern="/register/**" access="isAnonymous() or hasRole('666')" />
		
		<!--  PostController -->
		<intercept-url pattern="/posts" access="isAnonymous() or isFullyAuthenticated()" />
		<intercept-url pattern="/posts/show/**" access="isAnonymous() or isFullyAuthenticated()" />
		<intercept-url pattern="/posts/add" access="hasAnyRole('0','666')" />
		<intercept-url pattern="/posts/delete/**" access="hasAnyRole('666')" /><!--  only admin -->
		
		<!--  Rest of the site   -->
		
		<!--  css and js files need to have permissions ... -->
		<intercept-url pattern="/resources/**/**" access="isAnonymous() or isFullyAuthenticated()" />
			
		<!--  no authentication required  -->
		<intercept-url pattern="/newindex" access="isAnonymous() or isFullyAuthenticated()" />
		
        <!--  4 TEMPLATE  DEVELOPMENT -->
		<intercept-url pattern="/index2" access="isAnonymous() or isFullyAuthenticated()" />
		<intercept-url pattern="/resources/**/**" access="isAnonymous() or isFullyAuthenticated()" />
			
        <intercept-url pattern="/**" access="isAnonymous() or fullyAuthenticated" />
		
		
		<form-login 
		login-page="/login" 
		default-target-url="/" 
		authentication-failure-url="/loginFAIL" />
		<logout logout-success-url="/logout" />		<!--  to always redir  always-use-default-target="true" -->
			     
	           
	</http>



<!--  authentication manager -->
	
<authentication-manager>
            <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
            users-by-username-query="select login,passwd,enabled from user where login=?"
            authorities-by-username-query= "select login,usertype from user where login=?"
             />
                <password-encoder ref="encoder" />
            </authentication-provider>
            
</authentication-manager>
<beans:bean 
id="encoder" 
class="org.springframework.security.crypto.password.StandardPasswordEncoder">
</beans:bean>

 <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
 destroy-method="close">
        <beans:property name="driverClassName" value="org.hibernate.dialect.H2Dialect" />
        <beans:property name="url" value="jdbc:h2:blogdb;AUTO_SERVER=TRUE;MVCC=TRUE;IFEXISTS=TRUE" />
        <beans:property name="username" value="sa" />
        <beans:property name="password" value="" />
   </beans:bean>


   










</beans:beans>